body{
    background-color: orange;
}


#Soutputid{
    background-color: #ccd5ae;
}

#Uoutputid{
    background-color: #e9edc9;
}

#Voutputid{
    background-color: #fefae0;
}

#Aoutputid{
    background-color: #faedcd;
}

#Toutputid{
    background-color: #d4a373;
}